@{
    ViewBag.Title = "Nosotros";
}
<style>
    h1 {
        text-align: center;
        background-color: mediumturquoise;
        padding: 15px;
        display: inline-block;
        margin-left: 34%;
    }

    .tabla {
        border-radius: 12px;
        margin: auto;
        border-collapse: separate;
        border-spacing: 10px 5px;
        box-shadow: 7px 7px 10px #888888;
        background-color: #0094ff;
        padding: 7px;
    }

    td {
        text-align: center;
        padding: 10px 20px;
        margin: 10px;
    }

    td, tr {
        border-radius: 20px;
        background-color: white;
        color: black;
        font-size: 15px;
    }
</style>
<nav style="padding: 40px;">
    <div><h1><b>¿Quiénes somos?</b></h1></div>
    <table class="tabla">
        <tr>
            <td>Emanuel José, Molina Zúniga</td>
            <td>MZ210716</td>
        </tr>
        <tr>
            <td>Carlos Antonio, Ortiz Tobar </td>
            <td>OT192611</td>
        </tr>
        <tr>
            <td>Brayan Alexander, Villalta Gutierrez</td>
            <td>VG210501</td>
        </tr>
        <tr>
            <td>Rudis Eduardo, Benitez Reyes</td>
            <td>BR202466</td>
        </tr>
        <tr>
            <td>Jairo Dennis, Ramos Jiménez</td>
            <td>RJ172021</td>
        </tr>
    </table><br /><br />
</nav>
