@{
    ViewBag.Title = "Inicio";
}

<style type="text/css">
    
    .banner {
        background-color: #0094ff;
        color: white;
    }

    .titulo1 {
        color: darkblue;
        background-color: azure;
        display: inline-block;
        padding: 10px;
        margin-left: 18%;
        font-weight: bold;
    }

    .titulo2 {
        color: darkblue;
        background-color: azure;
        display: inline-block;
        padding: 10px;
        margin-left: 18%;
        font-weight: bold;
    }

    .titulo3 {
        color: darkblue;
        background-color: azure;
        display: inline-block;
        padding: 10px;
        margin-left: 23%;
        font-weight: bold;
    }

    .breadcrumb {
        background-color: #0094ff;
        color: white;
        width: 600px;
        font-size: 28px;
        font-family: Verdana;
        font-weight: bold;
    }

    p {
        line-height: 2em;
        font-size: 17px;
    }
</style>

<nav style="padding: 40px;">
    <div class="jumbotron banner">
        <h1>Empresa de Envios Internacional</h1>
    </div>
    <ol class="breadcrumb" style=" width: 100%; ">
        <center>
        <li>Informacion</li>
        <center>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <h2 class="titulo1">Bienvenido</h2>
            <p>
                En dicho desafio se realizo tres formulario de una empresa acerca de las practicas que realizamos en el
                laboratorio respecto a asp.net MVC, en dicho desafio se dara a conocer que el usuario debe registrar
                ya sea los datos del empleado, horario y el horario del empleo que trabaja dicha empresa.
            </p>
        </div>
        <div class="col-md-4">
            <h2 class="titulo2">Despricion</h2>
            <p>
                Una empresa de envíos internacionales tiene un problema para registrar los nuevos
                horarios rotativos implementados recientemente. Esto ha generado mucha confusión y
                solicitan a su empresa desarrolladora un sistema que permita organizar y notificar la
                situación.
            </p>
        </div>
        <div class="col-md-4">
            <h2 class="titulo3">Descarga</h2>
            <p>Si gustas ver lo que hay detras de nuestro proyecto, puedes obtener el codigo aqui  GitHub.</p>
            <center>
                <p><a class="btn btn-default" href="https://github.com/Emanuel503/TallerDSP3.git">Codigo del proyecto &raquo;</a></p>
            <center>
        </div>
    </div>
</nav>