
@{
    ViewBag.Title = "PagoSemanal";
}

<h2>Registro de pago por semana</h2><br />

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Nombre completo
        </th>
        <th>
            Sueldo base
        </th>
        <th>
            Tipo de hora
        </th>
        <th>
            Horas normal trabajadas
        </th>
        <th>
           Horas extras trabajadas
        </th>
        <th>
            N° de semana
        </th>
        <th>
            Pago semanal
        </th>
    </tr>

</table>


